* {
  text-decoration: none;
  list-style-type: none;
  padding: 0;
  /* margin: 0; */
}

html {
  /* 10px / 16px = 62.5% */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik", sans-serif;
  text-align: center;
  line-height: 1;
  font-weight: 400;
  margin: 0;
}
.container {
  background-color: #fff;
  height: 100vh;
}

.app {
  height: 100vh;
}

h2 {
  text-align: left;
  margin-left: 2.4rem;
  letter-spacing: 1px;
  font-weight: 600;
}

span {
  font-size: 1.1rem;
  letter-spacing: 1px;
  font-weight: 500;
}

/* HELPER CLASSES */

.color-primary {
  background-color: #9499ce;
}

.color-secondary {
  background-color: #f2b1b3;
}

.color-tertiary {
  background-color: #4f4da6;
}

.color-white {
  background-color: white;
}

.text-danger {
  color: red;
}

.text-white {
  color: white;
}

.grid {
  display: grid;
}

.grid--3-cols {
  grid-template-columns: 1fr 2fr 1fr;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.shadow {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
}

.padding {
  padding: 2.4rem 2.4rem 1rem 2.4rem;
}

/* ------------- */

.types {
  display: flex;
  justify-content: space-around;
}

.type {
  width: 15rem;
  height: 8rem;
  border-radius: 7px;
  margin-top: 2.4rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.typeNum {
  font-size: 2.4rem;
}

/* --------------- */

#select-when {
  border: none;
  margin-right: 0.5rem;
}

.pins {
  margin-top: 1.6rem;
  text-align: left;
}

.pinned li {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.12);
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 8px;
}

.pinned svg {
  margin: 0 1rem;
}

.pinned ul {
  margin-top: 1.6rem;
}

/* -------------------------------- */
#title {
  width: 95%;
  padding: 1rem;
  font-size: 1.4rem;
  font-family: inherit;
  border: none;
  border-radius: 4px;
  background-color: #f6f5fd;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  color: black;
  margin-bottom: 1.5rem;
}

.addTask {
  margin-left: 2.4rem;
  border-radius: 6px;
}

#date {
  display: inline-block;
  width: 10rem;
  border: none;
  background-color: #f6f5fd;
  padding: 1rem 2rem;
  border-radius: 9px;
  font-size: 1.2rem;
}

.from,
.to {
  display: flex;
  justify-content: space-between;
  margin: 1.2rem 0;
}

#select {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  font-family: inherit;
  border: none;
  border-radius: 4px;
  background-color: #f6f5fd;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  color: #b947b5;
  margin-bottom: 1.5rem;
}

.option {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

#addNote {
  height: 5rem;
  width: 95%;
  padding: 0.6rem;
  font-size: 1.4rem;
  font-family: inherit;
  border: none;
  border-radius: 4px;
  background-color: #f6f5fd;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  color: black;
  margin: 1.5rem 0;
}

.btns {
  width: 6.5rem;
  font-size: 1.2rem;
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* ------------------------------------------ */
/* ------------------------------------------ */
/* ------------------------------------------ */
/* ------------------------------------------ */

.shedule-section {
  background-color: #f6f5fd;
}

.shedule {
  h2 {
    margin-left: 0;
  }
}

.weekday {
  background-color: #fff;
  border-radius: 6px;
  padding: 4rem;
  display: flex;
  justify-content: space-around;

  a {
    color: #777;
    text-transform: uppercase;
    padding: 1.5rem 1rem;
    border-radius: 14px;
  }
}

#active {
  color: white;
  background-color: #4f4da6;
}

/* a:visited,:focus,:active {
    color: white;
    background-color: #4f4da6;
} */

.task-list {
  background-color: #fff;
  margin-top: 2rem;
  border-radius: 6px;

  h2 {
    padding: 1rem;
    padding-left: 4rem;
    font-size: 1.3rem;
  }
}

.todo-task {
  background-color: #fff;
  padding-left: 4rem;
  padding-bottom: 1rem;
  border-radius: 6px;
}

.todo {
  text-align: left;
  width: 40rem;
  border-radius: 0 9px 9px 0;
  color: #fff;
  letter-spacing: 2px;
  line-height: 1.2rem;
  padding: 0.6rem 0.6rem 1.5rem 4rem;
  margin-bottom: 2.4rem;
  position: relative;
}

.todo:nth-child(odd) {
  background-color: #9499ce;
  border-left: 5px solid #4f4da6;
}

.todo:nth-child(even) {
  background-color: #f2b1b3;
  border-left: 5px solid #b947b5;
}

.todo::after {
  content: url(assets/imgs/ion_checkmark-circle-outline.png);
  position: absolute;
  top: 50%;
  right: -4rem;
  cursor: pointer;
  transform: translateY(-50%);
}

.todo::before {
  content: url(assets/imgs/ion_close-circle-outline.png);
  position: absolute;
  top: 50%;
  right: -9rem;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

/* ---------------------- */
/* ----------------------- */

.goal-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.goal-graph {
  text-align: center;
}

.goal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    display: flex;
    align-items: center;

    span {
      font-size: 1.2rem;
      margin-right: 1rem;
      color: #333;
    }
  }
}
.goal img {
  width: 40px;
  height: 40px;
  border-radius: 50px;
}

.goal-graph {
  li {
    margin-bottom: 1rem;
  }
  span {
    text-align: left;
    margin-left: 2.4rem;
    letter-spacing: 1px;
    font-size: 1.4rem;
    font-weight: 600;
  }
}

.music {
  padding-bottom: 10rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.music-cover img {
  width: 20rem;
  height: 20rem;
}

.music-mute {
}

.audio-player {
  --player-button-width: 3em;
  --sound-button-width: 2em;
  --space: 0.5em;
  width: 15rem;
}

.controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-top: 10px;
}

.player-button {
  background-color: transparent;
  border: 0;
  width: var(--player-button-width);
  height: var(--player-button-width);
  cursor: pointer;
  padding: 0;
}
.back,
.forward {
  background: none;
  border: none;
}

.timeline {
  -webkit-appearance: none;
  height: 0.2em;
  width: 200px;
  background-color: #e5e5e5;
  border-radius: 5px;
  background-size: 0% 100%;
  background-image: linear-gradient(#de5e97, #4f4da6);
  background-repeat: no-repeat;
  margin-left: -2.6rem;
}

.timeline::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
  transition: all 0.1s;
  background-color: #4f4da6;
}

.timeline::-moz-range-thumb {
  -webkit-appearance: none;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
  transition: all 0.1s;
  background-color: #4f4da6;
}

.timeline::-ms-thumb {
  -webkit-appearance: none;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
  transition: all 0.1s;
  background-color: #4f4da6;
}

.timeline::-webkit-slider-thumb:hover {
  background-color: #4f4da6;
}

.timeline:hover::-webkit-slider-thumb {
  opacity: 1;
}

.timeline::-moz-range-thumb:hover {
  background-color: #4f4da6;
}

.timeline:hover::-moz-range-thumb {
  opacity: 1;
}

.timeline::-ms-thumb:hover {
  background-color: #4f4da6;
}

.timeline:hover::-ms-thumb {
  opacity: 1;
}

.timeline::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

.timeline::-moz-range-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

.timeline::-ms-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

.sound-button {
  background-color: transparent;
  border: 0;
  width: var(--sound-button-width);
  height: var(--sound-button-width);
  cursor: pointer;
  padding: 0;
}
