* {
  text-decoration: none;
  list-style-type: none;
  padding: 0;
}

html {
  /* 10px / 16px = 62.5% */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: #d6dae5;
  text-align: center;
  line-height: 1;
  font-weight: 400;
  /* background-image: url(assets/imgs/image.png); */
}
.container {
  margin: 0 auto;
  background-color: #fff;
  width: 120rem;
  height: 70rem;
  border-radius: 18px;
}

h2 {
  text-align: left;
  margin-left: 2.4rem;
  letter-spacing: 1px;
  font-weight: 600;
}

span {
  font-size: 1.1rem;
  letter-spacing: 1px;
  font-weight: 500;
}

/* HELPER CLASSES */

.color-primary {
  background-color: #9499ce;
}

.color-secondary {
  background-color: #f2b1b3;
}

.color-tertiary {
  background-color: #4f4da6;
}

.color-white {
  background-color: white;
}

.text-danger {
  color: red;
}

.text-white {
  color: white;
}

.grid {
  display: grid;
  /* row-gap: 9.6rem;
  column-gap: 6.4rem;
  margin-bottom: 9.6rem; */
}

.grid--3-cols {
  grid-template-columns: 1fr 2.5fr 1fr;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.shadow {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
}

.padding {
  padding: 2.4rem 2.4rem 1rem 2.4rem;
}

/* ------------- */

.types {
  display: flex;
  justify-content: space-between;
}

.type {
  width: 8.5rem;
  height: 6.5rem;
  border-radius: 7px;
  margin-top: 2.4rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.typeNum {
  font-size: 2.4rem;
}

/* --------------- */

#select-when {
  border: none;
  margin-right: 0.5rem;
}

.pins {
  margin-top: 1.6rem;
  text-align: left;
}

.pinned li {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.12);
  margin: 1rem 0;
  padding: 0.6rem;
  border-radius: 8px;
}

.pinned svg {
  margin: 0 1rem;
}

.pinned ul {
  margin-top: 1.6rem;
}

/* -------------------------------- */
#title {
  width: 90%;
  padding: 0.6rem;
  font-size: 1.4rem;
  font-family: inherit;
  border: none;
  border-radius: 4px;
  background-color: #f6f5fd;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  color: black;
  margin-bottom: 1.5rem;
}

.addTask {
  margin-left: 2.4rem;
  border-radius: 6px;
}

#date {
  display: inline-block;
  width: 70px;
  border: none;
  background-color: #f6f5fd;
  padding: 0.6rem;
  border-radius: 9px;
  font-size: 0.9rem;
}

.from,
.to {
  display: flex;
  justify-content: space-between;
  margin: 1.2rem 0;
}

#select {
  width: 100%;
  padding: 0.8rem;
  font-size: 1rem;
  font-family: inherit;
  border: none;
  border-radius: 4px;
  background-color: #f6f5fd;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  color: #b947b5;
  margin-bottom: 1.5rem;
}

.option {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

#addNote {
  height: 5rem;
  width: 90%;
  padding: 0.6rem;
  font-size: 1.4rem;
  font-family: inherit;
  border: none;
  border-radius: 4px;
  background-color: #f6f5fd;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  color: black;
  margin: 1.5rem 0;
}

.btns {
  width: 6.5rem;
  font-size: 1.2rem;
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
